$base-color: #fba508;

.App {
  height: 100vh;
  .footer {
    background-color: #fba508;
    color: white;
    display: flex;
    justify-content: center;
    p {
      font-size: 0.8rem;
      margin: 3px 0;
    }
  }
  .content-body {
    width: 80%;
    margin: 0 auto;
    height: 97.3%;
  }
}
